.categorias{
    display: flex;
    gap: 5px;
    margin: 10px 40px;
}
.categoria--botao{
    background: var(--rosa);
    border-radius: 5px;
    
    width: 100px;
    padding: 5px;
    
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
}

.cadastro--produto--atalho{
    display: flex;
    align-items: center;
    
    margin: 10px 40px;
}

.link--adicionar{
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
}

.botao--remover, .botao--editar{
    text-decoration: none;
    color: black;
}
